/*
Theme Name: Divi

Author: the WordPress team
Author URI: https://wordpress.org/
Description: This is Child Theme for Divi Theme.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: Divi

*/
.red{
	 background-color: #393939;
    border-left-width: 2px;
    border-left-color: #1a7dd7;
    padding-top: 7px;        
}
